body {
	font-family: Arial, Tahoma, Verdana;
	font-size: 14;
	max-width: 800px;
	margin: auto;
}

.header:after {
	content: "";
	display: table;
	clear: both;
}

.hcolumn {
	float: left;
	width: 45%;
	padding: 4px;
	height: 100px;
}

.hcolumn ul {
	list-style-type: none;
	margin-top: 10;
	margin-bottom: 0;
	padding: 0;
	overflow: hidden;
}

.hcolumn li {
	float: left;
}

.hcolumn li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.hcolumn li a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	.hcolumn {
		float: none;
		width: auto;
		height: auto;
	}	
	.header {
		margin-left: 5px;
	}
}