body {
	font-family: Arial, Tahoma, Verdana;
	font-size: 14;
	max-width: 800px;
	margin: auto;
}

.header:after {
	content: "";
	display: table;
	clear: both;
}

.hcolumn {
	float: left;
	width: 33%;
	padding: 5px;
	height: 100px;
}

.hcolumn ul {
  list-style-type: none;
  margin-top: 10;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
}

.hcolumn li {
  float: left;
}

.hcolumn li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hcolumn li a:hover {
  background-color: #f5f5f5;
}

.content1:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 45%;
	padding: 5px;
	height: 800px;
	text-align: justify;
	margin-bottom: 32px;
}

.content2:after {
	content: "";
	display: table;
	clear: both;
}

.content2 a:visited {
	color: black;
}

.content2 a:hover {
	background-color: #f5f5f5;
}

.column1 {
	float: left;
	width: 30%;
	padding: 5px;
	height: 300px;
	text-align: center;
}
